<%- include('partials/header') %>

<main class="main-content index_container">
   
    <h1>Math Quiz</h1>
    
    <p>Answer the question below:</p>
    <!-- Shows random question and the number of questions you have correct -->
    <p> <%= question %> </p>

    <p>Your current streak: <%= streak || 0 %> correct answers.</p>

    <form action="/quiz" method="POST">
        <label for="answer">Your Answer:</label>
        <input type="number" id="answer" name="answer" required>
        <button type="submit">Submit</button>
    </form>

</main>
</body>
</html>