<%- include('partials/header') %>

<main class="main-content index_container">

    <h1>Quiz Complete!</h1>
    
    <p>Your current streak is: <%= streak %> correct answers.</p>

    <form action="/quiz" method="GET">
        <button type="submit">Start New Quiz</button>
    </form>

    <form action="/" method="GET">
        <button type="submit">Return to Home Page</button>
    </form>

</main>
</body>
</html>



